@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.mibg1 {
    background-color: #45b4b5;
}

.mibg2 {
    background-color: #16ccd8;
}

.mibg3 {
    background-color: #8bc641;
}

.mibg4 {
    background-color: #19058d;
}

.textoletrero {
    color: #16ccd8;
}

.form-label {
    @apply block text-xs font-bold text-gray-700 uppercase;
}

.form-txt {
    @apply block w-full px-4 py-3 text-gray-700 uppercase bg-gray-200 border-gray-200 rounded;
}

.form-txt:focus {
    @apply bg-white border border-gray-500 outline-none;
}

.form-combos {
    @apply block w-full px-3 py-0 bg-white border border-gray-300 rounded-md shadow-sm;
}

.form-combos:focus {
    @apply outline-none;
}

.form-combos:sm {
    @apply text-sm;
}

.form-botoncrear {
    @apply inline-flex items-center px-4 py-2 font-bold text-white rounded mibg2;
}

.form-botoncrear:hover {
    @apply bg-indigo-900;
}

.form-botoneditar {
    @apply inline-flex items-center px-4 py-2 font-bold text-white bg-blue-300 rounded;
}

.form-botoneditar:hover {
    @apply bg-blue-100;
}

.form-botoneliminar {
    @apply inline-flex items-center px-4 py-2 font-bold text-white rounded mibg3;
}

.form-botoneliminar:hover {
    @apply bg-green-100 text-indigo-600;
}


.form-botonlistar {
    @apply inline-flex items-center px-4 py-2 font-bold text-white rounded mibg4;
}

.form-botonlistar:hover {
    @apply bg-blue-500;
}


.form-titulomodal {
    @apply flex py-1 text-sm tracking-wider text-indigo-100 bg-black shadow px-7 rounded-2xl;
}

.form-juandiego {
    @apply w-full px-3 py-2 text-sm leading-tight text-gray-700 border border-gray-200 rounded shadow appearance-none;
}

.form-juandiego:focus {
    @apply outline-none;
}

.loading {
    z-index: 20;
    position: absolute;
    top: 0;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 130, 246, 0.15);
}
.loading-content {
    position: absolute;
    border: 16px solid #312e81; /* Light green */
    border-top: 16px solid #8bc641; /* Blue */
    border-bottom: 16px solid #16ccd8;
    border-radius: 60%;
    width: 110px;
    height: 110px;
    top: 50%;
    left: 47%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

